<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:rim="http://www.blackberry.com/ns/widgets"
	id="cordova-plugin-intelligoo"
	version="0.0.1">
	<name>Intelligoo</name>
	<description>Cordova Intelligoo Plugin</description>
	<license>Apache 2.0</license>


	<js-module src="www/intelligoo.js" name="Intelligoo">
		<clobbers target="Intelligoo" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/doormaster.jar" target-dir="libs" />
		<source-file src="src/android/httpclient-4.4.1.1.jar" target-dir="libs" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Intelligoo">
				<param name="android-package" value="com.xkd.diwang.intelligoo.Intelligoo"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.BLUETOOTH"/>
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
			<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="com.intelligoo.sdk.BluetoothLeService" android:enabled="true" />
		</config-file>
		<source-file src="src/android/com/xkd/diwang/Intelligoo.java" target-dir="src/com/xkd/diwang/intelligoo"/>
		<source-file src="src/android/com/xkd/diwang/DemoHttps.java" target-dir="src/com/xkd/diwang/intelligoo"/>
		<source-file src="src/android/com/xkd/diwang/DeviceBean.java" target-dir="src/com/xkd/diwang/intelligoo"/>
		<source-file src="src/android/com/xkd/diwang/Request.java" target-dir="src/com/xkd/diwang/intelligoo"/>
	 </platform>
</plugin>
